{% comment %} {% extends "index.html" %} {% endcomment %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Service/Image</title>
    <link rel="stylesheet" href="{% static 'portfolio/styles.css' %}">
</head>
<body>
    <header>
        {% comment %} <h1>Add Service/Image</h1>
        <nav>
            <a href="{% url 'home' %}">Home</a>
        </nav> {% endcomment %}
        <div class="header-div">
            <div class="content-div">
                <p>IFtech</p>
                <nav>
                    <a href="{% url 'home' %}">Home</a>
                    <a href="#">About Me</a>
                    <a href="">Services</a>
                    <a href="">Contact Me</a>
                </nav>
            </div>
        </div>
    </header>
    
</body>
</html>
{% endblock content %}
