{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>
    <link rel="stylesheet" href="{% static 'portfolio/style.css' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header>
      <div class="header-div">
        <div class="content-div">
          <p>IFtech</p>
          <nav>
            <a href="">All</a>
            <a href="">About Me</a>
            <a href="">Services</a>
            <a href="">Contact Me</a>
          </nav>
        </div>
      </div>
    </header>
    <main>
      <div class="main-div">
        <div class="main-left-div">
          <small>Hi there!</small>
          <h1>
            I'm
            <span >Ifeanyichukwu Favour Chiamaka</span>
          </h1>
          <h3>
            Fullstack Web Developer <span style="color: darkorange">&</span> A
            Graphic Designer
          </h3>
          <br />
          <a href="https://wa.me/2349134729706"
            ><span class="span-btn">Let's talk</span></a
          >
        </div>
      </div>
    </main>

    <div class="empty-div"></div>
    <br>
    <div class="empty-div"></div>

    <section id="About">
      <div class="about">
        <div class="title">
          <h3><span style="font-size: 20px">About</span> Me</h3>
        </div>
        <div class="about-detail">
          <p style="text-align: center; font: size 8px">
            I am a versatile full-stack web developer specializing in Python and
            Django, coupled with a strong graphic design background.
            <br />
            I create robust, scalable web applications and APIs while ensuring
            seamless user experiences through intuitive HTML and CSS design. My
            expertise in Adobe Creative Suite and modern web technologies
            enables me to deliver cohesive, visually appealing, and functional
            digital solutions that meet diverse client needs.
            <br />
          </p>
          <br />
          <a href="#">
            <span class="span-btn" style="font-size: 13px"> Download cv </span>
          </a>
          <br />
          <div class="socials">
            <a href="https://github.com/ifyfavour"
              ><i class="fa-brands fa-github" style="--color: #ff8c00"></i
            ></a>
            <a href="https://x.com/favour65575"
              ><i class="fa-brands fa-twitter" style="--color: #ff8c00"></i
            ></a>
            <a
              href="https://www.linkedin.com/in/favour-ifeanyichukwu-0b44952b3/"
              ><i class="fa-brands fa-linkedin" style="--color: #ff8c00"></i
            ></a>
            <a href="https://www.tiktok.com/@favourifeanyichuk7"
              ><i class="fa-brands fa-tiktok" style="--color: #ff8c00"></i
            ></a>
            <a href="https://web.facebook.com/profile.php?id=100089879515410"
              ><i class="fa-brands fa-facebook" style="--color: #ff8c00"></i
            ></a>
            <a href="https://www.instagram.com/ifeanyichukwu3739/"
              ><i class="fa-brands fa-instagram" style="--color: #ff8c00"></i
            ></a>
            <a href="https://medium.com/@ifeanyichukwuf60"
              ><i class="fa-brands fa-medium" style="--color: #ff8c00"></i
            ></a>
          </div>
        </div>
      </div>
    </section>

    <div class="empty-div"></div>
    <br>
    <div class="empty-div"></div>

    <!-- my skills section -->
    <section id="myskills">

      <div class="container">
        <h1 class='h1' style="color:#ff8c00;">My Skills</h1>
        <div class="skill">
            <div class="skill-name">HTML</div>
            <div class="skill-rating">
                <div class="stars">
                    <span class="star filled">★</span>
                    <span class="star filled">★</span>
                    <span class="star filled">★</span>
                    <span class="star filled">★</span>
                    <span class="star filled">★</span>
                </div>
            </div>
        </div>
        <div class="skill">
            <div class="skill-name">CSS</div>
            <div class="skill-rating">
                <div class="stars">
                    <span class="star filled">★</span>
                    <span class="star filled">★</span>
                    <span class="star filled">★</span>
                    <span class="star filled">★</span>
                    <span class="star filled">★</span>
                </div>
            </div>
        </div>
        <div class="skill">
            <div class="skill-name">JavaScript</div>
            <div class="skill-rating">
                <div class="stars">
                    <span class="star filled">★</span>
                    <span class="star filled">★</span>
                    <span class="star">★</span>
                    <span class="star">★</span>
                    <span class="star">★</span>
                </div>
            </div>
        </div>
                <div class="skill">
            <div class="skill-name">Python</div>
            <div class="skill-rating">
                <div class="stars">
                    <span class="star filled">★</span>
                    <span class="star filled">★</span>
                    <span class="star filled">★</span>
                    <span class="star">★</span>
                    <span class="star">★</span>
                </div>
            </div>
        </div>
                <div class="skill">
            <div class="skill-name">Graphics</div>
            <div class="skill-rating">
                <div class="stars">
                    <span class="star filled">★</span>
                    <span class="star filled">★</span>
                    <span class="star filled">★</span>
                    <span class="star filled">★</span>
                    <span class="star">★</span>
                </div>
            </div>
        </div>
                <div class="skill">
            <div class="skill-name">Django</div>
            <div class="skill-rating">
                <div class="stars">
                    <span class="star filled">★</span>
                    <span class="star filled">★</span>
                    <span class="star filled">★</span>
                    <span class="star">★</span>
                    <span class="star">★</span>
                </div>
            </div>
        </div>
    </div>
    </section>

    <div class="empty-div"></div>
    <br>
    <div class="empty-div"></div>

     <section id="Services">
      <div class="services">
        <div class="servicess">
          <div class="service-div">
            <div class="overlay">
              <h3>Graphic Design</h3>
            </div>
            <img src="{% static 'portfolio/images/IMG-20240130-WA0016.jpg'%}" alt="" />
          </div>
          <div class="service-div">
            <div class="overlay">
              <h3>Landing page</h3>
            </div>
            <img src="{% static 'portfolio/images/Atlas - Personal Portfolio PSD Template.jpg'%}" alt="" />
          </div>
          <div class="service-div">
            <div class="overlay">
              <h3>Landing page</h3>
            </div>
            <img src="{% static 'portfolio/images/e-commerce agri.jpg'%}" alt="" />
          </div>
          <div class="service-div">
            <div class="overlay">
              <h3>Landing page</h3>
            </div>
            <img src="{% static 'portfolio/images/download.jpg'%}" alt="" />
          </div>
        </div>
        <div class="servicess">
          <div class="service-div">
            <div class="overlay">
              <h3>Ecommerce Website</h3>
            </div>
            <img src="{% static 'portfolio/images/Personal portfolio website design - Responsive Landing pages.jpg'%}" alt="" />
          </div>
          <div class="service-div">
            <div class="overlay">
              <h3>Ecommerce Website</h3>
            </div>
            <img src="{% static 'portfolio/images/sit.jpg'%}" alt="" />
          </div>
          <div class="service-div">
            <div class="overlay">
              <h3>Ecommerce Website</h3>
            </div>

            <img src="{% static 'portfolio/images/IMG-20240201-WA0003.jpg'%}" alt="" />
          </div>
          <div class="service-div">
            <div class="overlay">
              <h3>Ecommerce Website</h3>
            </div>
            <img src="{% static 'portfolio/images/ringlight.jpg'%}" alt="" />
          </div>
        </div>
      </div>
    </section>

    <div class="empty-div"></div>
    <br>
    <div class="empty-div"></div>

    <section id="contact">
      <div class="contact">
        <h3 class="contact-h3">CONTACT ME</h3>
        <h1 class="contact-h1">HOW TO CONTACT ME</h1>
        <p class='contact-p'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus natus iure inventore corporis aliquid nam. Quae expedita nam velit rem illo voluptas sit! Alias dolorum dignissimos ab nemo autem iure, commodi ea delectus quae numquam exercitationem facilis quisquam quaerat beatae aut? Aut voluptate impedit officiis veritatis asperiores, eum veniam distinctio?</p>
        <div class="icons">
          <div class="icon1">
            <a class="contact-a" href="https://web.facebook.com/profile.php?id=100089879515410"
                ><i class="fa-brands fa-facebook" style="--color: #ff8c00"></i
              ></a>
          </div>
          <div class="icon2">
            <a class="contact-a" href="https://github.com/ifyfavour"
                ><i class="fa-brands fa-github" style="--color: #ff8c00"></i
              ></a>
          </div>
          <div class="icon3">
            <a class="contact-a" href="https://wa.me/2349134729706"
              ><i class="fa-brands fa-whatsapp"></i></a
            >
          </div>
          <div class="icon4">
            <a class="contact-a" href=""
              ><i class="fa-brands fa-phone">+234-9134729706</i></a
            >
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="waves">
        <div class="wave" id="wave1"></div>
        <div class="wave" id="wave2"></div>
        <div class="wave" id="wave3"></div>
        <div class="wave" id="wave4"></div>
      </div>
      <ul class='social-icon'>
        <li><a href="https://web.facebook.com/profile.php?id=100089879515410">
          <i class="bi bi-facebook"></a></li>
        <li><a href="https://x.com/favour65575">
          <i class="bi bi-twitter-x"></a></li>
        <li><a href="https://www.tiktok.com/@favourifeanyichuk7">
          <i class="bi bi-tiktok"></a></li>
        <li><a href="https://github.com/ifyfavour">
          <i class="bi bi-github"></a></li>
      </ul>
      <div class="ul">
        <ul class='menu'>
        <li><a href="#">Home</a></li>
        <li><a href="#">About Me</a></li>
        <li><a href="">Services</a></li>
        <li><a href="#">Contact Me</a></li>
      </ul>
      <p>2024 Favour Ifeanyichukwu | All Right Reserved</p>
      </div>
    </footer> 

  </body>
</html>
